*{
	margin: 0;
	padding: 0;
}
header{
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 5vw;
}
#button{
	line-height: 14vw;
	background-color: #8f7a66;
	border-radius: 1vw;
	padding: 2vw;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 4vw;
    color:white;
}
#button:hover{
	background-color: #9f8b77;
}
#container{
	position: relative;
	background-color: #bbada0;
	width: 84vw;
	height: 84vw;
	margin: 4vw 4vw 0 4vw;
	border-radius: 4vw;
	padding: 4vw;
}
.part{
	position: absolute;
	background-color: #ccc0b3;
	color: #ccc0b3;
	width: 18vw;
	height: 18vw;
	line-height: 18vw;
	font-size: 18vw;
	border-radius: 2vw;
	text-align: center;
}
